<!DOCTYPE html>
  <html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>External link</title>

<script type="text/javascript">
  window.redir_onload = function() {
    var urlhash = location.hash.substr(1);
    if (urlhash.search(':')<0) {
      urlhash = unescape(urlhash);
    }
    if (urlhash.search(/^https?:\/\//) !== 0) {
      urlhash = '';
    }
    var the_content = document.getElementById('content');
    if (urlhash) {

      urlhash = decodeURIComponent(urlhash);

      if(!isUrl(urlhash)){
        the_content.innerHTML = '<h4>bad url - posssible XSS attempt</h4>';
        return;
      }

      the_content.innerHTML = '<h4>Click to visit this exteral link</h4><h3><a href="'+urlhash+'">'+urlhash+'</a></h3>';
    } else {
      the_content.innerHTML = '<h4>Nothing to see here. Move along</h4>';
    }
  };


  function isUrl(s) {    
    /* Regexp source: https://github.com/component/regexps/blob/master/index.js#L3 */
    var regexp = /^(?:(?:ht|f)tp(?:s?)\:\/\/|~\/|\/)?(?:\w+:\w+@)?((?:(?:[-\w\d{1-3}]+\.)+(?:com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|edu|co\.uk|ac\.uk|it|fr|tv|museum|asia|local|travel|[a-z]{2}))|((\b25[0-5]\b|\b[2][0-4][0-9]\b|\b[0-1]?[0-9]?[0-9]\b)(\.(\b25[0-5]\b|\b[2][0-4][0-9]\b|\b[0-1]?[0-9]?[0-9]\b)){3}))(?::[\d]{1,5})?(?:(?:(?:\/(?:[-\w~!$+|.,=]|%[a-f\d]{2})+)+|\/)+|\?|#)?(?:(?:\?(?:[-\w~!$+|.,*:]|%[a-f\d{2}])+=?(?:[-\w~!$+|.,*:=]|%[a-f\d]{2})*)(?:&(?:[-\w~!$+|.,*:]|%[a-f\d{2}])+=?(?:[-\w~!$+|.,*:=]|%[a-f\d]{2})*)*)*(?:#(?:[-\w~!$ |\/.,*:;=]|%[a-f\d]{2})*)?$/i;

    return regexp.test(s);    
  }
</script>
</head>



<body onload="redir_onload()">
<div id="content" style="text-align:center">For the next trick, we'll need a volunteer with javascript enabled :)</div>
</body>
</html>
